<h1>Deck</h1>
<h1>Session: <%= @token %></h1>
<script src="https://deck-of-cards.js.org/dist/deck.min.js"></script>
<link rel="stylesheet" href="https://deck-of-cards.js.org/example.css">

<div id="container"></div>

