<h1>Deck</h1>
<h1>Session: <%= @token %></h1>


<%= javascript_include_tag "deck" %>
<%= stylesheet_link_tag "deck", :media => 'screen' %>



  <div class="hand grow">

    <div class="card suitdiamonds">
      <p>A</p>
    </div>

    <div class="card suithearts">
      <p>A</p>
    </div>
    
    <div class="card suitclubs">
      <p>A</p>
    </div>
    
    <div class="card suitspades">
      <p>A</p>
    </div>

    <div class="card suitspades">
      <p>A</p>
    </div>

  </div>


    <div class="hand grow">

    <div class="card suitdiamonds">
      <p>A</p>
    </div>

    <div class="card suithearts">
      <p>A</p>
    </div>


  </div>

  <div class="hand grow">

    <div class="card suitdiamonds">
      <p>A</p>
    </div>

    <div class="card suithearts">
      <p>A</p>
    </div>
    
  </div>